# DOMAIN is necessary for https setup, EMAIL is optional
AUTH_TYPE=basic
DOMAIN=http://65.108.33.93
EMAIL=

# If using the `no-letsencrypt` setup, the below are required.
# They specify the path within /danswer/deployment/data/sslcerts directory
# where the certificate / certificate key can be found. You can either
# name your certificate / certificate key files to follow the convention
# below or adjust these to match your naming conventions.
SSL_CERT_FILE_NAME=ssl.cert
SSL_CERT_KEY_FILE_NAME=ssl.key


REQUIRE_EMAIL_VERIFICATION=false
SMTP_USER=
SMTP_PASS=

# The below is only needed if not using a Google-powered email account
SMTP_SERVER=
SMTP_PORT= 